@use "bootstrap/scss/bootstrap";

:root {
    --border-radius: 6px;
    --body-background-color: rgb(241, 241, 241);
}

html, body, #root {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: var(--body-background-color);
    padding: 2rem 3rem;

    overflow-x: hidden;
}

.min-h-100 {
    min-height: 100%;
}